:root{
    --white:#FFFFFF;
    --black:#000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #ebebeb;
    --hospital-green: #ACD9B2;
    --sm:14px;
    --md:16px;
    --lg:18px;
}
*
{
box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 20px;
}
.title{
    font-size:var(--lg);
    font-weight:bold;

}
.title-container{
    display: flex;
    margin-bottom: 12px;
}
.title-container img{
    transform: rotate(180deg);
    margin-right:14px;
}

.delete-shopping-card:hover{
    cursor: pointer;
}
.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }


.product-detail{
    width:360px;
    padding: 24px;
    box-sizing: border-box;
    position: absolute;
    right: 20px;
}

.my-order-content p:first-child{
    display: flex;
    flex-direction: column;

}

.my-order-content p:first-child span:first-child{
    font-size:var(--lg);
    color:var(--black);
    font-weight: bold;
}
.my-order-content p:last-child{
    font-size:var(--md);
    color:var(--black);
    font-weight: bold;
}
.my-order-content{
    display: flex;
    width: inherit;
    justify-content:space-between;
    gap: 16px;
    background-color:var(--text-input-field);
    margin-bottom: 14px;
    padding: 0 24px;
    border-radius:8px;

}
.shopping-card{
    display: grid;
    grid-template-columns:auto 1fr auto auto;
    width: 100%;
    gap:16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-card figure{
    margin: 0;
    padding: 0;
}
.shopping-card figure img{

    width:70px;
    height:70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-card p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--md);
    
}
.shopping-card p:nth-child(3){
    color: var(--black);
    font-weight: bold;
    font-size: var(--md);
    
}
.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }

@media(max-width:640px){
    .product-detail{
        width:100%;
        right: 0;
    }

}