:root{
    --white:#FFFFFF;
    --black:#000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #ebebeb;
    --hospital-green: #ACD9B2;
    --sm:14px;
    --md:16px;
    --lg:18px;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.container{
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;
}
.content{
    display: grid;
    width: 300px;
}
.title{
    font-size:var(--lg);
    text-align: left;
    margin-bottom:40px;
}
.formulario{
    display: flex;
    flex-direction: column;
}
.formulario div{
    display: flex;
    flex-direction: column;
}
.inpt{
    border-radius: 8px;
    border: none;
    width: inherit;
    background-color: var(--text-input-field);
    height: 30px;
    margin-top: 4px;
    margin-bottom: 20px;
    box-sizing: content-box;
    padding-left:5px;
}
.lb{
    font-size:var(--sm);
    font-weight: bold;
}
.btn-edit{
    background-color: var(--hospital-green);
    border:none;
    border-radius:8px;
    height: 50px;
    color: var(--white);
    font-size: var(--md);
    font-weight:bold;
    width: 100%;
    margin-top:100px
}
@media(max-width:640px){
    .content{
        height: 100%;
    }
    .formulario{
        height:100%;
        justify-content:space-between;
    }
}


